*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.topsection{
    background-image: url("../Images/Projects_5 image/view-starry-night-sky-with-nature-mountains-landscape_23-2151614765.avif  ");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile{
    display: none ;
}
/* Header start */
header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
   color: wheat;
   padding: 7px 0px;
}
ul{
    display: flex;
    gap: 15px;
    list-style: none;
    
    text-transform: uppercase;
}
li a{
    text-decoration: none;
    color: black;
    color: white;
}
.search button{
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    gap: 14px;
}
.searchicon{
    width: 10%;
    align-items: center;
}
.hero{
    width: fit-content;
    height: 60vh;
    /* border: 1px solid; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 15px;
}
.hero h1{
    text-transform: uppercase;
}
.hero  button{
    padding: 10px 15px;
    width: fit-content;
    /* margin: auto; */
  /* height: 100px; */
  align-items: center;
  border: none;
border-radius: 5px;    
}
/* Header end  */
.icon{
    margin: 20px;
   display: flex;
   gap: 20px;
   justify-content: end;
}
.icon_1{
    display: flex;
    text-align: center;
    gap: 5px;
}
/* Blog Start */
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px 50px;
    margin-bottom: 50px;
}
.blogcard{
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.blogcard:hover{
    transform: scale(1.03);
    transition-duration: 2s;
}
.blogimg{
    width: 100%;
    height: 40vh;
    border-radius: 4px;
    
}
.blogcardimg{
    width: 12%;
    position: absolute;
    background-color:  rgba(255, 255, 255, 0.188);
    right: 0px;
    padding: 8px;
    border-radius: 50%;
    margin: 20px;
    color: white;
}
.blogcardbutton{
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.188);
    color: white;
    border: none;
    border-radius: 5px;
}
.buttonimg{
    position: absolute;
    margin: 25px;
    
}
.views{
    display: flex;
    align-items: center;
    gap: 15px;
}
.blogdetail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile{
    width: 7%;
    border-radius: 50%;
}
.blogdetail a{
    /* text-decoration: none; */
    color: black;
    font-size: 18px;
    font-weight: 900;
}
button{
    cursor: pointer;
}
.text{
    font-size: 13px;
    color: #6C757D;
}
.imp{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.blogbutton{
    display: flex;
    width: fit-content;
   margin: auto;
   padding: 10px 20px;
   background-color: transparent;
   color: #12141699;
   border: 1px solid #12141699;
}
.blogbutton:hover{
    transform: scale(1.08);
    transition-duration: 2s;
}
/* Blog End */
/* Action Start */
.action{
    width: 90%;
    height: 55vh;
    margin: 50px 70px;
    display: flex;
     justify-content: center;
    text-align: center;
    background-image: url("../Images/Projects_5 image/Big\ Post.png");\

}

.actiontext{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* text-align: center; */
    /* align-content: center; */
    justify-content: center ;
    width: 30%;

    /* height: 30vh; */
    color: white;
}
.actionbutton_1{
    width: fit-content;
    padding: 4px 15px;
   margin: 10px 150px;
   background-color:  #d8e5f199;
   color: white;
   font-size: 20px;
   border: none;
}
.actionbutton_2{
    width: fit-content;
    padding: 15px 25px;
    color: #7A65E1;
    font-weight: 700;
    margin: 10px 90px;
}
/* Action End */
p{
    font-size: 14px;
}
.uptext{
    margin: 5px 65px;
}
.section{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sectionimg{
    margin: 20px 0px;
    width: 17%;
}
.bilal{
    margin: 70px;
}
.bilalheader{
    color: black;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 18px;
}
.lifeimg_1{
    width: 100%;
    height: 30vh;
}
.hilal{
    display: flex;
}
.lifestyle{
    width: 50%;
    display: flex;
    gap: 40px;
    /* border: 1px solid; */
    padding: 20px;

    margin: 40px;
    
}
.layout:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.lifestyleleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid; */
}
.lifestylelefttext{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lifestylelefttext a{
    color: black;
}
.lifecard{
    display: flex;
    gap: 20px;
    width: 80%;
    /* padding: 20px; */
    /* border: 1px solid; */
}
.lifestyleright{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid; */

}
.lifecardimg{
    width: 40%;
}
.lifecardtext{
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}
.sport{
    width: 40%;
    /* margin: 40px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}
.sport_1{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.sportimg{
    width: 30%;
}
.sporttext{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer{
display: flex;
justify-content: space-between;
background-color: rgb(107, 33, 38);
height: 15vh;
}

.pint{
    width: 20px;
    height: 3vh;
}
.footericon{
    display: flex;
    gap: 20px;
    margin:  50px 90px;

}
.footertext{
    display: flex;
    gap: 20px;
    
    margin: 50px 60px;
}
#ul{
display: none;

}
#toggle{
    display: none;
    /* padding-bottom: 100px; */
}
label{
    display: none;
}
                /* Media Query */
@media screen and (max-width: 600px) {
    .blog{
        grid-template-columns: 1fr;
    
    }
    label,li{
        display: block;
        /* flex-direction: column; */
      
    }
    #toggle:checked + label+ #ul{
  background-color: rgb(228, 150, 72);
  color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        padding: 40px;
    }

    header{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 20px;
    
    }
    .action{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        }
        .topsection{
        width: 37rem;
         /* background-size: cover; */



        }
        .action{
          margin: 40px;
        }
        .actiontext{
            width: 100%;
            text-align: center;
        }
        .actionbutton_1{
            margin: auto;
        }
        .actionbutton_2{
            /* padding: 0px 100px; */
            width: fit-content;
            margin: auto;
        }
        .bilal{
            display: flex;
            margin: 0px;
        }
         nav{
display: none;
  }
  .sectionimage{
    width: 50%;
  }
  .search button{
    width: 80%;
padding: 0px;
  }
  .hero{
    text-align: center;
  }
  .icon_1{
    display: flex;
    flex-direction: column;
    margin: 0px;
    
    gap: 0px;
    /* padding: 0px; */
  }
  .icon{
    display: flex;
    margin: 10px 400px;
    padding-left: 150px;
   
  }
  .facebook{
    width: 50%;
  }
  .blogcard{
    width: 31rem;
    /* margin-right: 15px; */
  }
  .blogbutton{
    width: fit-content;
    margin: 10px 150px;
    /* padding: 0px; */
  }
  .action{
    width: 30rem;
    margin: 10px 22px;
  }
  .uptext{
    width: 100%;
    margin-left: 22px;
  }
  .section{
    display: flex;
   margin-left: 230px;
  }
  .sectionimg{
    width: 95%;
   
  }
  .hilal{
    display: flex;

    flex-direction: column;

  }
.lifestyle{
    display: flex;
    padding: 0px;
    /* margin: 0px; */
    width: 34rem;
    /* border: 1px solid;    */
    flex-direction: column;
margin: 20px 20px;
}
.lifestyleleft{
    width: 100%;

}
.lifeimg_1{
    height: 60vh;
    width: 34rem;
}
.lifecard{
    width: 35rem;
}
.sport{
    width: 35rem;
    /* margin: 10px 25px;*/
margin-left: 30px;
    padding: 0px;
}
footer{
    width: 37rem;
;
}
.footericon{
    display: flex;
    gap: 10px;
    margin: 40px;
}
.footertext{
    width: 20rem;
    display: flex;
    /* flex-direction: column; */
    margin: 40px 10px
 ;
}
}